{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "objectWrap": "preserve",
    "bracketSameLine": true,
    "arrowParens": "always",
    "singleAttributePerLine": true,
    "singleQuote": false,
    "jsxSingleQuote": false
}
